
/***** Front page *****/
.path-frontpage .alert {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    border-radius: 0;
}
.path-frontpage #main > .row,
.path-frontpage #main > .row > section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.path-frontpage .paragraph.paragraph--type--insert-slideshow > .paragraph__column {
    padding-bottom: 52px;
} 
.path-frontpage .form-group .more-link {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    font-size: 15px;
    position: absolute;
    top: -48px;
    right: 21px;
}
.path-frontpage .form-group .more-link a {
	padding-right: 41px;
	background: url(../images/long-arrow-alt-right.png) right 1px no-repeat;
}

.block-views-blockfeatured-faculty-member-block-1 {
    width: 395px;
    height: 564px;
    padding-top: 31px;
    padding-left: 26px;
    padding-right: 26px;
    background: #EEF0F6;
    border-top: 3px solid #0d6c37;
}
.featured-faculty-body {
    padding-top: 8px;
	padding-bottom: 40px;
    background: #EEF0F6;
}
.featured-faculty-body > p {
    font-size: 22px;
    line-height: 29px;
}
.featured-faculty-name {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    padding: 30px 15px 6px 15px;
    font-size: 22px;
}
.featured-faculty-name a {
    text-decoration: none;
    padding-right: 41px;
    padding-bottom: 5px;
    border-bottom: 2px solid #cddeed;
    background: url(../images/long-arrow-alt-right.png) right 5px no-repeat;
}
#block-cuenergy-views-block-events-block-1 {
    padding-top: 36px;
	color: #222;
}
#block-cuenergy-views-block-events-block-1 .event-month-and-day > div {
    color: #20417b;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
#block-cuenergy-views-block-events-block-1 .event-month {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    font-size: 22px;
    display: inline-block;
}
#block-cuenergy-views-block-events-block-1 .event-day {
    font-size: 50px;
	margin-top: -18px;
    display: inline-block;
}
#block-cuenergy-views-block-events-block-1 .container-fluid {
    padding: 16px 15px 45px 26px;
}
#block-cuenergy-views-block-events-block-1 .event-title-and-location > div:first-of-type {
    margin-bottom: 12px;
}
#block-views-block-news-block-1 a,
#block-views-block-featured-reports-block-1 a {
	text-decoration: none;
	/*font-style: normal;
	font-weight: 600;*/
}
#block-views-block-news-block-1 a:hover,
#block-views-block-featured-reports-block-1 a:hover,
#block-views-block-news-block-1 a:focus,
#block-views-block-featured-reports-block-1 a:focus {
	color: #266A3D;
}
#block-views-block-news-block-1 .views-col .field-name-title a .svg-inline--fa,
#block-views-block-featured-reports-block-1 .views-col .views-field-title a .svg-inline--fa {
	padding-left: 8px;
    font-size: 24px;
}
#block-views-block-news-block-1 img,
#block-views-block-featured-reports-block-1 img {
   -webkit-backface-visibility: hidden;
}
#block-views-block-news-block-1 img:hover,
#block-views-block-featured-reports-block-1 img:hover {
    opacity: .8;
   -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}

.event-title-and-location a {
    font-size: 24px;
}


/***** Header *****/
#cu-header .cu-brand {
    height: 48px;
	padding-left: 15px !important;
    padding-right: 15px !important;
	max-width: 1280px !important;
}

/***** Navigation *****/
.region-navigation-collapsible {
    height: 100%;
}
.region-navigation-collapsible > nav {
    left: 27px;
    float: left;
    height: 88px;
    position: relative;
    margin: 3.6% 0 0 0;
    width: calc(100% - 250px);
}
.region-navigation-collapsible > nav .navbar-nav {
    position: absolute;
    bottom: 0;
}
#navbar {
    background-color: rgba(248, 248, 248, .8);
	padding: 0;
    margin: 0;
    z-index: 9;
	border-radius: 0;
    max-width: none;
    width: 100%;
}
.path-frontpage #navbar {
    background-color: rgba(248, 248, 248, .8);
	padding: 0;
    margin: 0;
    z-index: 9;
	border-radius: 0;
    max-width: none;
    width: 100%;
}
.path-user #navbar {
    position: relative;
}
#navbar #navbar-collapse {
    max-width: 1280px;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}
#navbar .logo {
    width: 250px;
    height: 88px;
    margin: 2.2% 0;
	background: url(../images/logo.png) left center no-repeat;
    background-size: contain;
}
#navbar .logo img {
    width: 250px;
	display: none;
}
.navbar-nav li {
    font-family: Helvetica, Arial, "sans-serif";
}
.region-navigation-collapsible .navbar-nav > li:not(:first-child) {
    margin-left: 24px;
}
.navbar-default .navbar-nav > li > a {
    color: #1f4487;
    font-size: 1em;
	font-weight: bold;
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #2b7545;
    background-color: transparent;
}
#navbar > .container-fluid {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    height: 100%!important;
}
#navbar > .container-fluid > #navbar-collapse {
	height: 100% !important;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible {
    width: 100%;
	height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible > .logo {
    height: 100%;
	margin: 0;
    background: url(../images/logo.png) 70% center no-repeat;
    background-size: contain;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible > nav {
    width: 63%;
}

/***** People *****/
.view-id-people .view-content .views-row {
    padding-bottom: 24px;
}
.people-listing .views-field-field-image {
    margin-bottom: 10px;
}
.people-listing h2 {
    margin-bottom: 6px;
}
.views-label-cesi-title {
  color: #333333;
}
.views-label-cesi-title:before {
  content: " - ";
}
.path-people #main .people-listing .views-field-title h3 a {
	font-weight: normal;
}
.path-people #main .people-listing .views-field-summary .views-more-link {
	font-weight: normal;
}
#main .tabs--primary.nav.nav-tabs li a {
	font-weight: normal;
}
#main h2 a, 
#main h3 a {
	font-weight: normal !important;
}

/***** Discover *****/
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col {
    position: relative;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-title {
    position: absolute;
    bottom: 24px;
    right: 35px;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-title a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-field-image-single img {
   -webkit-backface-visibility: hidden;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-field-image-single img:hover {
    opacity: .8;
   -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}

/***** Breadcrumbs *****/
#breadcrumbs {
    height: 45px;
    background: #205050;
}
#breadcrumbs .breadcrumb {
    border-radius: 0;
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    background: #2b7545;
}
.breadcrumb > li + li:before {
    content: "> ";
	padding-right: 40px;
}
#breadcrumbs .breadcrumb li {
    margin-bottom: 0;
}
#breadcrumbs .breadcrumb li.active {
    font-size: 17px;
    text-transform: uppercase;
    color: #b4cebd;
	font-family: Helvetica, Arial, "sans-serif";
}
#breadcrumbs .breadcrumb li a {
    font-size: 17px;
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    color: #b4cebd;
    text-decoration: none;
    padding: 11px 0;
    display: inline-block;
}
#breadcrumbs .col-sm-4 {
    width: 36%;
}
#breadcrumbs .col-sm-8 {
    width: 64%;
	padding-left: 45px;
}

/***** Tabs *****/
nav.tabs {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/***** People *****/
.views-field-summary .views-label-summary {
    padding-right: 6px;
    float: left;
}
.views-field-body .views-field {
    width: calc(100% - 222px);
    float: right;
}

/***** Footer *****/
#footer-first * {
	color: #fff;
	text-align: right;
}
#footer-first {
	background: #b31b1b;
	padding: 40px 15px;
}
#footer-second {
	background: #7a1212;
	padding: 40px 15px;
}
#footer-second * {
	color: #fff;
}

/***** Sidebar *****/
#main .region-sidebar-first #block-mainnavigation .nav li a {
	text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 17px;
	color: #333;
}
#main .region-sidebar-first {
    overflow: hidden;
    width: 392px;
    float: right;
}
#main .region-sidebar-first ul {
    width: 100%;
}
#main .region-sidebar-first ul li {
    width: 100%;
    background: none;
    margin-left: 0;
    margin-bottom: 24px;
}
#main .region-sidebar-first ul .active {
    background: #dce6e4;
}
#block-mainnavigation {
	padding-bottom: 34px;
}
#block-webform-2 {
	padding: 15px 60px 24px 0;
}

/***** Events *****/
.path-news-events-college-engineering-events #main > .row > section h2 {
	font-size: 23px;
	font-family: "schoolbook",serif;
}
.path-news-events-college-engineering-events #main > .row > section a {
	font-weight: normal;
	color: #263c73;
}
#main .localist_widget_container li.lw_event_item {
    margin: 0 0 21px 0;
    border: none;
    background: #fafafa;
    font-family: "capitolina",serif;
    overflow: hidden;
}
#main .localist_widget_container ul.lw_event_list {
    max-width: none;
}
#main .lw_event_item_image img {
   -webkit-backface-visibility: hidden;
	width: 200px;
}
#main .lw_event_item_image img:hover {
    opacity: .8;
   -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}
#main .localist_widget_container span.lw_event_item_date {
    padding: 10px 0px;
    font-size: 15px;
    text-transform: none;
    font-family: "schoolbook",serif;
}
#main .localist_widget_container div.lw_event_content {
    padding: 0 20px 10px;
}
#main .localist_widget_container div.lw_event_item_description {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 3px;
}

/***** Typography *****/
a {
	color: #263c73;
}
body:not(.path-frontpage) #main > .row > section a {
	text-decoration: underline;
    font-weight: bold;
}
body:not(.path-frontpage) #main > .row > section a:hover,
body:not(.path-frontpage) #main > .row > section a:focus {
	color: #266A3D;
	text-decoration: none;
}

html,
body,
p,
body #main section {
    font-size: 20px;
}
h1, .h1 {
    color: #222222;
    font-size: 34px;
}
h2, .h2 {
    color: #222222;
    font-size: 28px;
}
main h2, #main h2 {
    color: #222222;
}
.path-frontpage main h2,
.path-frontpage #main h2 {
	padding-left: 6px;
}
.path-frontpage main .block-views-blockfeatured-faculty-member-block-1 > h2,
.path-frontpage #main .block-views-blockfeatured-faculty-member-block-1 > h2 {
	padding-left: 0;
}
/***** Miscellaneous *****/
#toolbar-administration,
#toolbar-administration * {
      font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif !important;
}
.cu-search button[type='submit'] {
    width: 1.9em;
    height: 1.9em;
}
.cu-search #cu-search-query {
    height: 1.9em;
}
.btn {
    color: #fff;
    background-color: #4C7446;
    border-color: #354F4F;
    font-size: 19px;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: #354F4F;
	border-color: #354F4F;
}
.glyphicon {
    top: 2px;
}
.all-caps {
	text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
}
.region-sidebar-first h2.block-title,
.region-sidebar-first h2.all-caps {
	font-size: 22px;
	margin-bottom: 24px;
    margin-top: 3px;
}
.region-sidebar-first #block-webform-2 h2.block-title {
    margin-bottom: .5em;
    font-size: 25px;
    margin-top: 18px;
    line-height: 32px !important;
}

label, .btn, .navbar {
    font-family: "capitolina",serif;
	font-weight: normal;
}
#main {
	max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
body:not(.path-frontpage) #main {
    background: #f5f7fa;
	width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
}
body:not(.path-frontpage) #main > .row {
    width: 100%;
}
body:not(.path-frontpage) #main > .row aside {
    margin-left: 15px;
	padding: 56px 0 56px 47px;
	width: 36%;
}
body:not(.path-frontpage) #main > .row > section {
    width: calc(64% - 15px) !important;
    background: #fff;
    padding: 50px 47px;
}
#main > .row > section > .region-content > article > .content > .field--items > .field--item:not(:first-child) {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1280px;
    margin: 0 auto;
}
body.path-frontpage #main > .row > section > .region-content > article > .content > .field--items > .field--item:not(:first-child) {
    padding: 54px 0 0;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
#main > .row > section > div[role="heading"] {
	padding-left: 0;
}
body.full-width:not(.path-frontpage) #main > .row > section {
	width: 100% !important;
}
body.full-width:not(.path-frontpage) nav.tabs .tabs-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
body.full-width:not(.path-frontpage) nav.tabs {
	width: 100%;
}
article section {
    padding: 0 15px 3em 15px;
}
.clear-left {
	clear: left;
}
.no-header-image {
	background-image: url('/sites/default/files/2018-03/Hanrath_PV_4.jpg') !important;
}
.dialog-off-canvas-main-canvas {
    background: #f5f7fa;
}
.caption-inner {

}

/***** Forms *****/
body.path-search input[type="search"],
body.path-search input[type="text"] {
    height: 41px;
}
#block-webform h2 {
    margin-bottom: .5em;
    font-size: 25px;
    margin-top: 18px;
    line-height: 32px !important;
}
#webform-submission-contact-add-form .form-group:first-of-type {
	margin-top: 15px;
}
#webform-submission-energy-seminar-notification-add-form > label,
#webform-submission-contact-add-form > label {
    font-size: .9em;
    line-height: 1.48em;
	color: #626262;
}


/***** Slider *****/
.slider-container .campaign-nav.right .next-prev {
    display: none;
}
.paragraph.paragraph--type--insert-slideshow > .paragraph__column {
	padding-left: 0;
	padding-right: 0;
}
.basic-page.header-image h2 {
  display: none;
}
.basic-page.header-image img {
  width: 100%;
}

/***** Responsive *****/
@media (min-width: 992px) {
	.container-fluid {
		max-width: 1280px;
	}
}
@media (min-width: 768px) {
	body.path-frontpage #main {
		max-width: none;
	}
	body:not(.path-frontpage) #main > .row > div[role="heading"] {
		width: 66.66667%;
		float: right;
	}
	body:not(.path-frontpage) #main > .row > section {
		width: 66.66667%;
		float: right;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column {
		float: none;
		max-width: 1280px;
		margin: 0 auto;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col {
		padding-left: 7.5px;
		padding-right: 7.5px;
		margin-bottom: 16px;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-source {
		display: inline-block;
		text-transform: uppercase;
		font-family: Helvetica, Arial, "sans-serif";
    	padding: 7px 0 7px;
    	font-size: 15px;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-date {
		text-transform: uppercase;
		font-family: Helvetica, Arial, "sans-serif";
    	font-size: 15px;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title {

	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title a {
		color: #263c73;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .field-name-title a {
		display: inline-block;
    	margin: 12px 0 0 0;
    	color: #263c73;	}
	}
	.navbar-nav > li > a {
		padding-bottom: 17px;
	}
}
@media (max-width: 1380px) {
	.navbar-nav > li:not(:first-child) {
		margin-left: 34px;
	}
	.region-navigation-collapsible > nav {
		bottom: -5px;
		font-size: 13px;
	}
}
@media (max-width: 1280px) {

}
@media (max-width: 1225px) {
	#navbar .logo {
		margin: 0;
		width: 280px;
		background: url(../images/logo_horizontal_w_icon.png) left center no-repeat;
		background-size: 100%;
	}
	.region-navigation-collapsible > nav {
		float: left;
		margin: 0;
		left: 0;
		height: 55px;
		width: 100%;
	}
	.navbar-nav > li:not(:first-child) {
		margin-left: 18px;
	}
	#main .slider-container {
		padding: 0 0 43%;
	}
}
@media (max-width: 1000px) {

}
@media (max-width: 850px) {
	.navbar-nav > li:not(:first-child) {
		margin-left: 13px;
	}
	#navbar .logo {
		width: 260px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 16px;
	}
}
@media (max-width: 767px) {

}

