
/***** Front page *****/
.path-frontpage .alert {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    border-radius: 0;
}
.path-frontpage #main > .row,
.path-frontpage #main > .row > section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.path-frontpage .paragraph.paragraph--type--insert-slideshow > .paragraph__column {
    padding-bottom: 52px;
} 
.path-frontpage .form-group .more-link {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    font-size: 15px;
    position: absolute;
    top: 8px;
    right: 32px;
}
.path-frontpage.user-logged-in .form-group .more-link {
    top: -48px;
    right: 21px;
}
.path-frontpage .form-group .more-link a {
	padding-right: 41px;
	background: url(../images/long-arrow-alt-right.png) right 1px no-repeat;
}
.header-image .field--name-field-media-image > div {
	position: relative;
}
.block-views-blockfeatured-faculty-member-block-1 {
    padding-top: 31px;
    padding-left: 26px;
    padding-right: 26px;
    background: #EEF0F6;
    border-top: 3px solid #0d6c37;
}
.path-frontpage #main .paragraph--type--bp-columns-two-uneven__2col-column1 {
    min-width: 367px;
}
.path-frontpage #block-cuenergy-views-block-featured-faculty-member-block-1 {
	margin-bottom: 42px;
}
.path-frontpage #block-views-block-news-block-1 {
	margin-bottom: 32px;
}

.featured-faculty-body {
    padding-top: 8px;
	padding-bottom: 20px;
    background: #EEF0F6;
}
.featured-faculty-body > p {
    font-size: 22px;
    line-height: 29px;
}
.featured-faculty-name {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    padding: 30px 15px 6px 15px;
    font-size: 22px;
}
.featured-faculty-name a {
    text-decoration: none;
    padding-right: 41px;
    padding-bottom: 5px;
    border-bottom: 2px solid #cddeed;
    background: url(../images/long-arrow-alt-right.png) right 5px no-repeat;
}
#block-cuenergy-views-block-events-block-1 {
    padding-top: 36px;
	color: #222;
}
#block-cuenergy-views-block-events-block-1 .event-month-and-day > div {
    color: #20417b;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
#block-cuenergy-views-block-events-block-1 .event-month {
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    font-size: 22px;
    display: inline-block;
}
#block-cuenergy-views-block-events-block-1 .event-day {
    font-size: 50px;
	margin-top: -18px;
    display: inline-block;
}
#block-cuenergy-views-block-events-block-1 .container-fluid {
    padding: 16px 15px 45px 26px;
}
#block-cuenergy-views-block-events-block-1 .event-title-and-location > div:first-of-type {
    margin-bottom: 12px;
}

.path-news-events #main article {
    display: table;
    border-spacing: 0 24px;
}
.path-news-events #main article > .content {
    position: relative;
    top: -84px;
}
.news-events-page-grid {
	display: table-row;
}
.news-events-page-grid > div {
    display: table-cell;
    vertical-align: middle;
    width: 76%;
	padding-left: 4%;
}
.news-events-page-grid > div > a {
    font-size: 24px;
    font-weight: normal !important;
}
.news-events-page-grid a img {
	width: 100%;
	max-width: 300px;
	min-width: 266px;
}

#block-views-block-news-block-1 a,
#block-views-block-featured-reports-block-1 a {
	text-decoration: none;
	/*font-style: normal;
	font-weight: 600;*/
}
#block-views-block-news-block-1 a:hover,
#block-views-block-featured-reports-block-1 a:hover,
#block-views-block-news-block-1 a:focus,
#block-views-block-featured-reports-block-1 a:focus {
	color: #266A3D;
}
#block-views-block-news-block-1 .views-col .field-name-title a .svg-inline--fa,
#block-views-block-featured-reports-block-1 .views-col .views-field-title a .svg-inline--fa {
	padding-left: 8px;
    font-size: 24px;
}
#block-views-block-news-block-1 img,
#block-views-block-featured-reports-block-1 img {
   -webkit-backface-visibility: hidden;
}
#block-views-block-news-block-1 img:hover,
#block-views-block-featured-reports-block-1 img:hover {
    opacity: .8;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}

.event-title-and-location a {
    font-size: 24px;
}


/***** Header *****/
#cu-header .cu-brand {
    height: 48px;
	padding-left: 15px !important;
    padding-right: 15px !important;
	max-width: 1280px !important;
}
.dialog-off-canvas-main-canvas > #main > .row > .col-sm-12 {
	min-height: 0;
}

/***** Navigation *****/
.region-navigation-collapsible {
    height: 100%;
}
.region-navigation-collapsible > nav {
    left: 27px;
    float: left;
    height: 88px;
    position: relative;
    margin: 3.6% 0 0 0;
    width: calc(100% - 250px);
}
.region-navigation-collapsible > nav .navbar-nav {
    position: absolute;
    bottom: 0;
}
#navbar {
    background-color: rgba(248, 248, 248, .8);
	padding: 0;
    margin: 0;
    z-index: 9;
	border-radius: 0;
    max-width: none;
    width: 100%;
}
.path-frontpage #navbar {
    background-color: rgba(248, 248, 248, .8);
	padding: 0;
    margin: 0;
    z-index: 9;
	border-radius: 0;
    max-width: none;
    width: 100%;
}
.path-user #navbar {
    position: relative;
}

#navbar #navbar-collapse {
    max-width: 1280px;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}
#navbar .logo {
    width: 250px;
    height: 88px;
    margin: 2.2% 0;
	background: url(../images/logo.png) left center no-repeat;
    background-size: contain;
}
#navbar .logo img {
    width: 250px;
	display: none;
}
.navbar-nav li {
    font-family: Helvetica, Arial, "sans-serif";
}
.region-navigation-collapsible .navbar-nav > li:not(:first-child) {
    margin-left: 24px;
}
.navbar-default .navbar-nav > li > a {
    color: #1f4487;
    font-size: 1em;
	font-weight: bold;
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #2b7545;
    background-color: transparent;
}
#navbar > .container-fluid {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    height: 100%!important;
}
#navbar > .container-fluid > #navbar-collapse {
	height: 100% !important;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible {
    width: 100%;
	height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible > .logo {
    height: 100%;
	margin: 0;
    background: url(../images/logo.png) 70% center no-repeat;
    background-size: contain;
}
#navbar > .container-fluid > #navbar-collapse > .region-navigation-collapsible > nav {
    width: 63%;
}

/***** People *****/
.view-id-people .view-content .views-row {
    padding-bottom: 24px;
}
.people-listing .views-field-field-image {
    margin-bottom: 10px;
}
.people-listing h2 {
    margin-bottom: 6px;
}
.views-label-cesi-title {
  color: #333333;
}
.views-label-cesi-title:before {
  content: " - ";
}
.path-people #main .people-listing .views-field-title h3 a {
	font-weight: normal;
}
.path-people #main .people-listing .views-field-summary .views-more-link {
	font-weight: normal;
}
#main .tabs--primary.nav.nav-tabs li a {
	font-weight: normal;
}
.path-search-node #main a, 
#main h2 a, 
#main h3 a {
	font-weight: normal !important;
}
.views-row.people-listing .views-label.views-label-body {
	float: left;
	padding-right: 5px;
}
.views-row.people-listing .views-field.views-field-body {
	margin-top: 5px;
}


/***** Discover *****/
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col {
    position: relative;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-title {
    position: absolute;
    bottom: 24px;
    right: 35px;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-title a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-field-image-single img {
   -webkit-backface-visibility: hidden;
}
.paragraph.paragraph--id--7 > .paragraph__column .views-view-grid .views-col .views-field-field-image-single img:hover {
    opacity: .8;
   -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}

/***** Breadcrumbs *****/
#breadcrumbs {
    min-height: 46px;
    background: #205050;
}
#breadcrumbs .breadcrumb {
    border-radius: 0;
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    background: #2b7545;
}
.breadcrumb > li + li:before {
    content: "> ";
	padding-right: 40px;
}
#breadcrumbs .breadcrumb li {
    margin-bottom: 0;
}
#breadcrumbs .breadcrumb li.active {
    font-size: 17px;
    text-transform: uppercase;
    color: #b4cebd;
	font-family: Helvetica, Arial, "sans-serif";
}
#breadcrumbs .breadcrumb li a {
    font-size: 17px;
    text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
    color: #b4cebd;
    text-decoration: none;
    padding: 11px 0;
    display: inline-block;
}
#breadcrumbs .col-sm-4 {
    width: 36%;
}
#breadcrumbs .col-sm-8 {
    width: 64%;
	padding-left: 45px;
}

/***** Tabs *****/
nav.tabs {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/***** People *****/
.views-field-summary .views-label-summary {
    padding-right: 6px;
    float: left;
}
.views-field-body .views-field {
    width: calc(100% - 222px);
    float: right;
}

/***** Footer *****/
#footer-first * {
	color: #fff;
	text-align: right;
}
#footer-first {
	background: #b31b1b;
	padding: 40px 15px;
}
#footer-second {
	background: #7a1212;
	padding: 40px 15px;
}
#footer-second * {
	color: #fff;
}

/***** Sidebar *****/
#main .region-sidebar-first #block-mainnavigation .nav li a {
	text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 17px;
	color: #333;
}
#main .region-sidebar-first {
    overflow: hidden;
    width: 60%;
    float: right;
}
#main .region-sidebar-first ul {
    width: 100%;
}
#main .region-sidebar-first ul li {
    width: 100%;
    background: none;
    margin-left: 0;
    margin-bottom: 24px;
}
#main .region-sidebar-first ul .active {
    background: #dce6e4;
}
#block-mainnavigation {
	padding-bottom: 34px;
}
#block-webform-2,
#block-webform {
	padding: 15px 60px 24px 0;
}
.webform-submission-contact-add-form > label,
.webform-submission-energy-seminar-notification-form > label {
    font-size: 19px;
    line-height: 1.4em;
    margin-bottom: 16px;
}
.open {
	display: block !important;
}
.closed {
	display: none !important;
}

/***** Events *****/
.path-news-events-college-engineering-events #main > .row > section h2 {
	font-size: 23px;
	font-family: "schoolbook",serif;
}
.path-news-events-college-engineering-events #main > .row > section a {
	font-weight: normal;
	color: #263c73;
}
#main .localist_widget_container li.lw_event_item {
    margin: 0 0 21px 0;
    border: none;
    background: #fafafa;
    font-family: "capitolina",serif;
    overflow: hidden;
}
#main .localist_widget_container ul.lw_event_list {
    max-width: none;
}
#main .lw_event_item_image img {
   -webkit-backface-visibility: hidden;
	width: 200px;
}
#main .lw_event_item_image img:hover {
    opacity: .8;
   -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .7s;
  -moz-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s; 
}
#main .localist_widget_container span.lw_event_item_date {
    padding: 10px 0px;
    font-size: 15px;
    text-transform: none;
    font-family: "schoolbook",serif;
}
#main .localist_widget_container div.lw_event_content {
    padding: 0 20px 10px;
}
#main .localist_widget_container div.lw_event_item_description {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 3px;
}
#main .pin {
    width: 13px;
    height: 13px;
    margin-top: 13px;
}
#main .localist_widget_container div.lw_event_item_location {
    margin-top: 10px;
    font-size: 15px;
    font-family: Helvetica, Arial, "sans-serif";
    margin-left: 20px;
    margin-bottom: 5px;
}
#main .localist_widget_container .lw_event_item_location a {
    font-weight: normal !important;
}
#main .clock {
    height: 13px;
    width: 13px;
}
#main .localist_widget_container div.lw_event_item_time {
    margin-left: 20px;
    font-size: 15px;
    font-family: Helvetica, Arial, "sans-serif";
}

/***** Typography *****/
a {
	color: #263c73;
}
textarea.form-textarea a {
    font-weight: bold !important;
}
body:not(.path-frontpage) #main > .row > section a {
	text-decoration: underline;
    font-weight: 600;
}
body:not(.path-frontpage) #main > .row > section a:hover,
body:not(.path-frontpage) #main > .row > section a:focus {
	color: #266A3D;
	text-decoration: none;
}
span.intro-text {
    color: #3c763d;
    font-size: 22px;
}
html,
body,
p,
body #main section {
    font-size: 20px;
}
h1, .h1 {
    color: #222222;
    font-size: 34px;
}
h2, .h2 {
    color: #222222;
    font-size: 28px;
}
h2,
main h2, 
#main h2 {
    color: #222222;
}
h3,
main h3, 
#main .h3,
#main h3, 
main .h3 {
    font-size: 22px;
}
h4,
main h4, 
#main .h4,
#main h4, 
main .h4 {
    font-size: 17px;
	text-transform: uppercase;
}
h6, .h6 {
    font-size: 16px;
    color: #888;
}
h4, h5, h6, .h4, .h5, .h6 {
    font-weight: normal;
    margin-bottom: 1em;
    line-height: 1.4;
}
#footer-second .all-caps {
	font-size: 18px;
}
.path-frontpage main h2,
.path-frontpage #main h2 {
	padding-left: 6px;
}
.path-frontpage main .block-views-blockfeatured-faculty-member-block-1 > h2,
.path-frontpage #main .block-views-blockfeatured-faculty-member-block-1 > h2 {
	padding-left: 0;
}
/***** Miscellaneous *****/
#toolbar-administration,
#toolbar-administration * {
      font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif !important;
}
.block.block-views block-views-blockevents-block-2 .view-content .views-row {
	margin-bottom: 20px;
}
.video-content {
	max-width:500px;
}
.path-news-events-events #main > .row > section > .region > article .views-row .container-fluid {
	padding-left: 0;
    padding-right: 0;
}
.localist_widget_container .pin:after {
    content: "";
    width: 5px;
    height: 5px;
    margin: 5px 0 0 5px;
    background: #fff;
    border-radius: 50%;
}
.source-date {
    text-transform: uppercase;
    font-family: Helvetica, Arial, "sans-serif";
    font-size: 15px;
    color: #777;
}
.fa {
    position: relative;
    top: 1px;
	margin-right: 6px;
}
.icon-clocktower-bold {
    font-size: 20px;
    color: #b31b1b;
}
.fa-info-circle {
    font-size: 23px;
    color: #1f4487;
}
.fa-exclamation-circle {
    font-size: 23px;
    color: #ce2828;
}
.fa-question-circle {
    font-size: 23px;
    color: #266A3D;
}
.panel {
	padding: 10px 12px 10px 54px;
    position: relative;
	margin-bottom: 20px;
}
.panel > .fa {
    position: absolute;
    top: 13px;
    left: 18px;
}
.panel.info {
    border: 1px solid rgba(31, 68, 135, 0.13);
    border-left: 8px solid #1f4487;
    background: rgba(31, 68, 135, 0.11);
}
.panel.clocktower {
    border: 1px solid #b31b1b1a;
    border-left: 8px solid #b31b1b;
    background: rgba(179, 27, 27, 0.05);
}
.panel.important {
    border: 1px solid #ff000033;
    border-left: 8px solid #ce2828;
    background: rgba(255, 0, 0, 0.11);
}
.panel.question {
    border: 1px solid rgba(38, 106, 61, 0.25);
    border-left: 8px solid #266A3D;
    background: rgba(38, 106, 61, 0.11);
}
.cu-search button[type='submit'] {
    width: 1.9em;
    height: 1.9em;
}
.cu-search #cu-search-query {
    height: 1.9em;
}
.btn {
    color: #fff;
    background-color: #4C7446;
    border-color: #354F4F;
    font-size: 19px;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: #354F4F;
	border-color: #354F4F;
}
.glyphicon {
    top: 2px;
}
.all-caps {
	text-transform: uppercase;
	font-family: Helvetica, Arial, "sans-serif";
}
.region-sidebar-first h2.block-title,
.region-sidebar-first h2.all-caps {
	font-size: 22px;
	margin-bottom: 24px;
    margin-top: 3px;
}
.region-sidebar-first #block-webform-2 h2.block-title {
    margin-bottom: .5em;
    font-size: 25px;
    margin-top: 18px;
    line-height: 32px !important;
}

label, .btn, .navbar {
    font-family: "capitolina",serif;
	font-weight: normal;
}
#main {
	max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
body:not(.path-frontpage) #main {
    background: #f5f7fa;
	width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
}
body:not(.path-frontpage) #main > .row {
    width: 100%;
}
body:not(.path-frontpage) #main > .row aside {
    margin-left: 15px;
	padding: 56px 0 56px 15px;
	width: 36%;
}
body:not(.path-frontpage) #main > .row > section {
    width: calc(64% - 15px) !important;
    background: #fff;
    padding: 50px 47px;
}
#main > .row > section > .region-content > article > .content > .field--items > .field--item:not(:first-child) {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1280px;
    margin: 0 auto;
}
body.path-frontpage #main > .row > section > .region-content > article > .content > .field--items > .field--item:not(:first-child) {
    padding: 54px 0 0;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
#main > .row > section > div[role="heading"] {
	padding-left: 0;
}
body.full-width:not(.path-frontpage) #main > .row > section {
	width: 100% !important;
}
body.full-width:not(.path-frontpage) nav.tabs .tabs-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
body.full-width:not(.path-frontpage) nav.tabs {
	width: 100%;
}
article section {
    padding: 0 15px 3em 15px;
}
.clear-left {
	clear: left;
}
.no-header-image {
	background-image: url('/sites/default/files/2018-03/Hanrath_PV_4.jpg') !important;
}
.dialog-off-canvas-main-canvas {
    background: #f5f7fa;
}
.caption-inner {

}

/***** Forms *****/
body.path-search input[type="search"],
body.path-search input[type="text"] {
    height: 41px;
}
#block-webform h2 {
    margin-bottom: .5em;
    font-size: 25px;
    margin-top: 18px;
    line-height: 32px !important;
}
#webform-submission-contact-add-form .form-group:first-of-type {
	margin-top: 15px;
}
#webform-submission-energy-seminar-notification-add-form > label,
#webform-submission-contact-add-form > label {
    font-size: .9em;
    line-height: 1.48em;
	color: #626262;
}


/***** Slider *****/
.slider-container .next-prev {
	position: absolute;
    z-index: 7;
    margin-top: 16vw;
    width: 100%;
}
.slider-container .next-prev .next {
	float: right;
}
.slider-container .next-prev .fa-angle-left {
    color: #fff;
    font-size: 48px;
    border: 1px solid #777777cf;
    padding: 13px 16px 14px 10px;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.4);
}
.slider-container .next-prev .fa-angle-right {
    color: #fff;
    font-size: 48px;
    border: 1px solid #777777cf;
    padding: 13px 10px 14px 16px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.4);
}
.paragraph.paragraph--type--insert-slideshow > .paragraph__column {
	padding-left: 0;
	padding-right: 0;
}
.basic-page.header-image h2 {
  display: none;
}
.basic-page.header-image img {
  width: 100%;
}

/***** Responsive *****/
@media (min-width: 992px) {
	.container-fluid {
		max-width: 1280px;
	}
}
@media (min-width: 768px) {
	body.path-frontpage #main {
		max-width: none;
	}
	body:not(.path-frontpage) #main > .row > div[role="heading"] {
		width: 66.66667%;
		float: right;
	}
	body:not(.path-frontpage) #main > .row > section {
		width: 66.66667%;
		float: right;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column {
		float: none;
		max-width: 1280px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col {
		padding-left: 7.5px;
		padding-right: 7.5px;
		margin-bottom: 16px;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-source {
		display: inline-block;
		text-transform: uppercase;
		font-family: Helvetica, Arial, "sans-serif";
    	padding: 7px 0 7px;
    	font-size: 15px;
		color: #777;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-date {
		text-transform: uppercase;
		font-family: Helvetica, Arial, "sans-serif";
    	font-size: 15px;
		color: #777;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title {

	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title a {
		color: #263c73;
	}
	.paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .field-name-title a {
		display: inline-block;
    	margin: 12px 0 0 0;
    	color: #263c73;	}
	}
	.navbar-nav > li > a {
		padding-bottom: 17px;
	}
}
@media (max-width: 1380px) {
	.navbar-nav > li:not(:first-child) {
		margin-left: 34px;
	}
	.region-navigation-collapsible > nav {
		bottom: -5px;
		font-size: 13px;
	}
}
@media (max-width: 1350px) {
	main .slider-caption .caption-inner, 
	#main article .slider-container .slider-caption .caption-inner, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		bottom: 7% !important;
		width: 43% !important;
	}
	main .slider-caption .caption-inner .caption-focus p, 
	#main article .slider-container .slider-caption .caption-inner .caption-focus p, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		font-size: 24px;
		line-height: 1.3em;
	}
	.slider-container .next-prev .fa-angle-left,
	.slider-container .next-prev .fa-angle-right {
		font-size: 39px;
	}
}

.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column2 {
    float: right;
    width: 64.666667%;
}


@media (max-width: 1180px) {
	#main .region-sidebar-first {
		width: 72%;
	}
}
@media (max-width: 1160px) {
	main .slider-caption .caption-inner, 
	#main article .slider-container .slider-caption .caption-inner, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		bottom: 4% !important;
		width: 41% !important;
	}
	main .slider-caption .caption-inner .caption-focus p, 
	#main article .slider-container .slider-caption .caption-inner .caption-focus p, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		font-size: 20px;
		line-height: 1.3em;
	}
	.slider-container .campaign-nav.right.no-numbers .dot {
		width: 17px;
		height: 17px;
	}
	.region.region-campaign section article .field--name-field-header-caption .field--item {
		bottom: 6px !important;
		width: 44% !important;
		font-size: 26px !important;
		line-height: 1.2em !important;
	}
}
@media (max-width: 1225px) {
	#navbar .logo {
		margin: 0;
		width: 280px;
		background: url(../images/logo_horizontal_w_icon.png) left center no-repeat;
		background-size: 100%;
	}
	.region-navigation-collapsible > nav {
		float: left;
		margin: 0;
		left: 0;
		height: 55px;
		width: 100%;
	}
	.navbar-nav > li:not(:first-child) {
		margin-left: 18px;
	}
	#main .slider-container {
		padding: 0 0 43%;
	}
}
@media (max-width: 1080px) {
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column1 * {
		width: 100%;
	}
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column1 {
		width: 36%;
	}
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column2 {
		width: 58%;
    	float: right;
	}
	.path-frontpage #block-views-block-news-block-1 .views-col .field.field-name-title.title,
	.path-frontpage .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title {
		line-height: 26px;
	}
}
@media (max-width: 980px) {
	#main .slider-container .next-prev .fa-angle-left, 
	#main .slider-container .next-prev .fa-angle-right {
		font-size: 26px;
	}
	#main .slider-container .slider-caption .campaign-nav {
		bottom: 3%;
	}
	#main .slider-container .campaign-nav.right.no-numbers .dot {
		width: 15px;
		height: 15px;
	}
	.slider-container .next-prev {
		margin-top: 15vw;
	}
	.region.region-campaign section article .field--name-field-header-caption .field--item {
		bottom: 6px !important;
		width: 48% !important;
		font-size: 23px !important;
		line-height: 1.2em !important;
	}
}
@media (max-width: 900px) {
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-date,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-field-spotlight-source {
		font-size: 16px;
		line-height: 23px;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .field-name-title,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title {
		font-size: 18px;
		line-height: 23px;
	}
	#main .region-sidebar-first {
		width: 77%;
	}
}
@media (max-width: 895px) {
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column2 {
		width: 55%;
	}
}
@media (max-width: 880px) {
	.navbar-nav > li:not(:first-child) {
		margin-left: 13px;
	}
	#navbar .logo {
		width: 260px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 16px;
	}
}
@media (max-width: 870px) {
	main .slider-caption .caption-inner, 
	#main article .slider-container .slider-caption .caption-inner, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		bottom: 1% !important;
		width: 44% !important;
	}
	main .slider-caption .caption-inner .caption-focus p, 
	#main article .slider-container .slider-caption .caption-inner .caption-focus p, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		font-size: 18px;
		line-height: 1.15em;
	}
	.slider-container .next-prev {
		margin-top: 14vw;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-1 {
		width: 46% !important;
		margin-bottom: 6%;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-2 {
		width: 46% !important;
    	float: right;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-3 {
		width: 46% !important;
		clear: both;
	}
}

@media (max-width: 850px) {
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column1,
	.path-frontpage .paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--33-66 .paragraph--type--bp-columns-two-uneven__2col-column2 {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.path-frontpage #main .paragraph--type--bp-columns-two-uneven__2col-column1 {
		max-width: 464px;
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 800px) {
	.region.region-campaign section article .field--name-field-header-caption .field--item {
		bottom: -5px !important;
		width: 48% !important;
		font-size: 23px !important;
		line-height: 1em !important;
		right: 3% !important;
	}
}
@media (max-width: 767px) {
	.dialog-off-canvas-main-canvas > #main > .row > .col-sm-12 {
		min-height: 0;
	}
	
	#navbar {
		display: none;
		position: absolute;
	}
	#navbar ul {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	#navbar ul,
	#navbar li,
	#navbar li a {
		margin: 0;
		padding-left: 2%;
		padding-right: 2%;
		width: 96%;
	}
	#cu-header .cu-brand,
	#cu-header .cu45-helper {
		z-index: 999;
		position: relative;
	}
	#mobile-nav-dimmer {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0,0,0,0.82);
		z-index: 5;
		display: none;
	}
	main .slider-caption .caption-inner .caption-focus p, 
	#main article .slider-container .slider-caption .caption-inner .caption-focus p, 
	.slider-caption p, 
	.region-campaign .field--name-field-header-caption .field--item {
		display: none;
	}
	body:not(.path-frontpage) #main > .row {
		margin: 0;
		padding: 30px 15px;
	}
	body:not(.path-frontpage) #main > .row > aside {
		width: 100%;
		padding: 15px;
		padding-bottom: 0;
		margin: 0 auto;
		overflow: hidden;
	}
	body:not(.path-frontpage) #main > .row > section {
		width: 100% !important;
		padding: 15px;
	}
	#main .region-sidebar-first {
		float: none;
		width: 100%;
	}
	#block-mainnavigation {
		padding-bottom: 0;
	}
	#main .region-sidebar-first ul {
		margin: 0;
	}
	.region-sidebar-first h2.block-title, .region-sidebar-first h2.all-caps {
		margin-bottom: 16px;
	}
	#footer-second .text-align-right {
		text-align: left;
	}
	#breadcrumbs {
		height: unset;
		min-height: 39px;
	}
	#breadcrumbs .col-sm-8 {
		width: 100%;
		padding-left: 31px;
	}
	#breadcrumbs .col-sm-4 {
		display: none;
	}
	#breadcrumbs .breadcrumb li.active,
	#breadcrumbs .breadcrumb li a {
		font-size: 14px;
		padding: 11px 0 9px;
	}
	.breadcrumb > li + li:before {
		content: "> ";
		padding-right: 5px;
	}
	body:not(.path-frontpage) .region.region-campaign {
		overflow: hidden;
		max-height: 238px;
	}
	body:not(.path-frontpage) .region.region-campaign img {
		max-height: 198px;
		min-width: 0;
		max-width: none !important;
		width: auto;
	}
	.path-frontpage #main #block-views-block-news-block-1 .views-col .field.field-name-title.title {
		margin-top: 6px !important;
	}
	.path-frontpage .col-sm-2.event-month-and-day {
		float: left;
	}
	.news-events-page-grid > div {
		line-height: 28px;
	}
}

@media (max-width: 630px) {
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-1 {
		width: 100% !important;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-2 {
		width: 100% !important;
		margin-bottom: 6%;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-3 {
		width: 100% !important;
		margin-bottom: 6%;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-1 .views-col {
		float: none;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-2 .views-col {
		float: none;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-3 .views-col {
		float: none;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-1 .views-col img,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-1 .views-row img {
		margin: 0 auto;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-2 .views-col img,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-2 .views-row img {
		margin: 0 auto;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-3 .views-col img,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-col.col-3 .views-row img {
		margin: 0 auto;
	}
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid #source-date-wrap,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .field-name-title,
	#main .paragraph:not(.paragraph--type--insert-slideshow) > .paragraph__column .views-view-grid .views-field-title {
		max-width: 395px !important;
		margin: 0 auto !important;
	}
	h2.block-title {
		font-size: 24px;
	}
	.path-frontpage .form-group .more-link {
		top: unset !important;
		bottom: 4px !important;
		right: 0 !important;
	}
	#block-views-block-news-block-1 .view-content,
	#block-views-block-featured-reports-block-1 .view-content {
		padding-bottom: 45px !important;
		margin-bottom: 34px !important;
		position: relative !important;
	}
	#block-cuenergy-views-block-events-block-1 .event-title-and-location > div,
	#block-cuenergy-views-block-events-block-1 .event-title-and-location > div a {
		font-size: 20px;
    	line-height: 30px;
	}
	#block-cuenergy-views-block-events-block-1 .container-fluid {
		padding: 16px 0 45px 0;
	}
	.news-events-page-grid {
		display: block;
		margin-bottom: 28px;
	}
	.news-events-page-grid > a {
		width: 100%;
		display: block;
		float: left;
		text-align: center;
		margin: 0 auto;
	}
	.news-events-page-grid a img {
		width: 100%;
		max-width: 300px;
		min-width: 266px;
	}
	.news-events-page-grid > div {
		width: 100%;
		clear: both;
		display: block;
		max-width: 299px;
		margin: 0 auto;
		padding: 0;
	}
	.news-events-page-grid > div > a {
		margin: 9px 0 6px;
    	display: inline-block;
	}
}
@media (max-width: 600px) {
	#main .slider-container .next-prev .fa-angle-left, 
	#main .slider-container .next-prev .fa-angle-right {
		font-size: 23px;
	}
	#main .slider-container .next-prev .fa-angle-left {
		padding: 7px 16px 8px 10px;
	}
	#main .slider-container .next-prev .fa-angle-right {
		padding: 7px 10px 8px 16px;
	}
	.slider-container .next-prev {
		margin-top: 11vw;
	}
}
@media (max-width: 550px) {
	body:not(.path-frontpage) .region.region-campaign img {
		max-height: 198px;
		min-width: 0;
		max-width: none !important;
		width: auto;
		margin-left: -20%;
	}
}
@media (max-width: 480px) {
	#main .slider-container .next-prev .fa-angle-left, 
	#main .slider-container .next-prev .fa-angle-right {
		font-size: 22px;
	}
	#main .slider-container .next-prev .fa-angle-left {
		padding: 6px 15px 7px 11px;
	}
	#main .slider-container .next-prev .fa-angle-right {
		padding: 6px 11px 7px 15px;
	}
	.path-frontpage .paragraph__column article .slider-container {
		padding: 0 0 53.101% !important;
	}
	.slider-container .next-prev {
		margin-top: 19vw;
	}
}
