{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
<div id="breadcrumbs">
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
 	  {% set bc = item.text %}
      {% if 'Commitment' in bc %}
        {% set bc = 'Cornell Sustainability' %}
      {% endif %}	
      <li {{ item.attributes }}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ bc }}</a>
        {% else %}
          {{ bc }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
{% endif %}